<%= render 'documents/search_documents', document: @document %>
<div class="documents-list">検索結果</div>
<div class="documents">
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <div class="document">
      <%= link_to result.title, document_path(result.id), method: :get, class: "document-contents" %>
      <%= link_to result.jurisdiction_department, document_path(result.id), method: :get, class: "document-contents" %>
      <%= link_to result.disposal_date, document_path(result.id), method: :get, class: "document-contents" %>
    </div>
  <% end %>
<% else %>
<div class="none-result">該当する文書はありません</div>
<% end %>
</div>