.document-edit-form {
  height: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  color: black;;
}

.document-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 15px;
}

label {
  margin-right: 250px;
  width:100px;
  float: left;
}

.title {
  height: 40px;
  width: 350px;
  margin-bottom: 30px;
}

.jurisdiction-department {
  height: 40px;
  width: 350px;
  margin-bottom: 30px;
}

.category-select{
  height: 45px;
  width: 360px;
  margin-bottom: 30px;
}

.storage-period-select {
  height: 45px;
  width: 360px;
  margin-bottom: 30px;
}

.storage_location {
  height: 40px;
  width: 350px
}

.edit-document-disposal-date {
  width: 350px;
  margin: 30px;
}

.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-bottom: 160px;
}

.update-btn {
  cursor: pointer;
  width: 160px;
  margin: 30px;
  height: 50px;
  font-size: 15px;
  border: 1px groove lightsteelblue;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white ); 
  color: white;
  border-radius: 25px;
  text-shadow:2px 2px 3px black;
}

.update-btn:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}

.back-btn {
  cursor: pointer;
  width: 160px;
  height: 40px;
  margin-top: 30px;
  padding-top: 12px;
  text-align: center;
  border: 1px groove lightsteelblue;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white ); 
  color: white;
  font-size: 15px;
  text-decoration: none;
  border-radius: 25px;
  text-shadow: 2px 2px 3px black;
}

.back-btn:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}