.search-groupe {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.search-label {
  padding: 13px 0 0 10px;
  margin: 0 40px 0 160px;
  text-align: right;
}

.search-title-input {
  width: 260px;
  height: 30px;
  margin: 5px 0;
  border: 2px groove lightsteelblue;
}

.search-jurisdiction-department-input {
  width: 260px;
  height: 30px;
  margin: 5px 0;
  border: 2px groove lightsteelblue;
}

.search-disposal-date-input {
  width: 260px;
  height: 30px;
  margin: 5px 0;
  border: 2px groove lightsteelblue;
}

.search-storage-location-input {
  width: 260px;
  height: 30px;
  margin: 5px 0;
  border: 2px groove lightsteelblue;
}

.search-btn {
  margin: 20px 0 20px 410px;
}

.search-submit-btn {
  cursor: pointer;
  height: 40px;
  font-family: FontAwesome;
  width: 180px;
  font-size: 15px;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white );
  border: 2px groove lightsteelblue;
  color: white;
  text-shadow:2px 2px 3px black;
  border-radius: 25px;
  padding-bottom: 2px;
}

.search-submit-btn:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}

.document-contents  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.documents {
  font-size: 13px;
  height: 160px;
  width: 125px;
  margin: 5px;
  text-align: center;
  border: 4px groove lightsteelblue;
  font-style: italic;
  background: linear-gradient(to top right, lightsteelblue, white);
}

.documents:hover {
  border: none;
}

.document-column {
  color: black;
  padding-top: 23px;
  font-weight: normal;
  display: flex;
  text-decoration: none;
  flex-direction: column;
}
