.document-form {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 22px;
  color: black;
}

.document-container {
  height:800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 15px;
}

label {
  margin-right: 250px;
  width:100px;
  float: left;
}

.title {
  height: 40px;
  width: 350px;
  margin-bottom: 30px;
}

.jurisdiction-department {
  height: 40px;
  width: 350px;
  margin-bottom: 30px;
}

.category-select{
  height: 45px;
  width: 360px;
  margin-bottom: 30px;
}

.storage-period-select {
  height: 45px;
  width: 360px;
  margin-bottom: 30px;
}

.storage_location {
  height: 40px;
  width: 350px;
  resize:none;
  margin-bottom: px;
}

.disposal-date {
  width: 350px;
  font-size: 15px;
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  height: 50px;
  width: 180px;
  margin-top: 50px;
  font-size: 15px;
  border: 1px groove lightsteelblue;
  color: white;
  text-shadow: 2px 2px 3px black;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white );
  border-radius: 25px;
}

.btn:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}

.btn-back {
  cursor: pointer;
  width: 150px;
  height: 25px;
  margin: 40px 0;
  padding: 12px 15px;
  text-align: center;
  border: 1px groove lightsteelblue;
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-shadow:2px 2px 3px black;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white );
  border-radius: 25px;
}

.btn-back:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}

.error-alert {
 text-align: center;
 color: red;
}