.document-detail {
  color: black;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.detail {
  margin: 30px;
  font-size: 22px;
}

.document-items {
  width: 300px;
  background: linear-gradient(to top right, lightsteelblue, white, lightsteelblue);
}

.disposal-deadline {
  width: 300px;
  background: linear-gradient(to top right, lightsteelblue, white, lightsteelblue);
}

hr {
  border: solid 1px deepskyblue;
}

.document-title {
  margin: 40px 0 20px 0;
}

.document-jurisdiction-department {
  margin: 20px 0;
}

.document-category {
  margin: 20px 0;
}

.document-storage-period {
  margin: 20px 0;
}


.document-storage-location {
  margin: 20px 0;
}

.document-disposal-date {
  font-size: 22px;
  margin: 20px 0;
}

.script {
  height: 100px;
  margin: 20px 0 80px;
  font-size: 19px;
}

.input-date {
  font-size: 14px;
}

.countdown {
  font-weight: bold;
}


.btn-contents p {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70px;
  margin-top: 20px;
}

.edit-btn {
  width: 150px;
  height: 35px;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 15px;
  border: 1px groove lightsteelblue;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white ); 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-shadow:2px 2px 3px black
}

.edit-btn:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}

.delete-btn {
  width: 150px;
  height: 35px;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 15px;
  border: 1px groove lightsteelblue;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white ); 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-shadow:2px 2px 3px black
}

.delete-btn:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}

.btn-to-back {
  width: 150px;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  border: 1px groove lightsteelblue;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white ); 
  color: white;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
  text-shadow:2px 2px 3px black
}

.btn-to-back:hover{
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}
