.registration {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 15px;
}

.registration-contents {
  font-size: 22px;
  margin: 40px 0;
}

label {
  margin-right: 250px;
  width:100px;
  float: left;
  font-size: 14px;
}

.name {
  height: 50px;
  width: 350px;
  margin-bottom: 30px;
}

.department {
  height: 50px;
  width: 350px;
  margin-bottom: 30px;
}

.registration-email {
  height: 50px;
  width: 350px;
  margin-bottom: 30px;
}

.registration-password {
  height: 50px;
  width: 350px;
  margin-bottom: 30px;
}

.registration-btn {
  cursor: pointer;
  width: 180px;
  padding: 12px;
  margin-top: 50px;
  font-size: 15px;
  border: 1px groove lightsteelblue;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white ); 
  color: white;
  border-radius: 25px;
  text-shadow:2px 2px 3px black;
}

.registration-btn:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}

.btn-top-page {
  cursor: pointer;
  width: 150px;
  height: 19px;
  margin: 40px 0;
  padding: 15px 15px 15px;
  text-align: center;
  border: 1px groove lightsteelblue;
  background: linear-gradient(to top right, aqua, dodgerblue, deepskyblue, white ); 
  color: white;
  font-size: 15px;
  text-decoration: none;
  border-radius: 25px;
  text-shadow:2px 2px 3px black
}

.btn-top-page:hover {
  text-shadow: none;
  border: none;
  color: white;
  background: linear-gradient(to top right, aqua, deepskyblue, white );
}